@font-face{
    font-family: Inter;
    src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
}
:root{
    --body-back-color : hsl(0, 0%, 8%);
    --container-back-color: hsl(0, 0%, 12%);
    --container-link-back-color: hsl(0, 0%, 20%);
    --primary-color: hsl(75, 94%, 57%);
}
/* Global Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter;
    min-height: 100vh;
    min-height: 100dvh;
    display:grid;
    place-items: center;
    background: var(--body-back-color)
}
.container{
    max-width: 400px;
    background: var(--container-back-color);
    padding: 20px 10px;
    border-radius: 10px;
    color:white;
    text-align: center;;
}
@media (min-width: 800px){
    .container{
        width: 400px;
    }
}
.container figure{
    width: 80px;
    margin: 20px auto;
}
.container figure img{
    max-width: 100%;
    border-radius: 50%;
}

.container .name{
    font-weight: 600;
    margin: 10px 0;

}
.container .address{
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 15px;
}
.container .about{
    font-size: 14px;
    color: white;
    opacity: .7;
    margin-bottom: 25px;
}
.container .links{
    margin: 0 auto;
}
.container .links .link{
    background: var(--container-link-back-color);
    text-align: center;
    padding: 15px 10px;
    width: 80%;
    display:block;
    color:white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    transition: .5s;
    margin: 10px auto;
    -webkit-tap-highlight-color: transparent;

}

.container .links .link:hover{
    color : var(--primary-color);
    box-shadow: 0 0 2px var(--primary-color)
}

